.full-width {
  width: 100%;
}

.editing-textfield:focus {
  border-color: #ced4da;
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s;
}

.show-complete {
  background: limegreen !important;
  color: limegreen !important;
  border-color: limegreen !important;
}

.non-resizable {
  resize: none;
}

.large-checkbox {
  width: 1.75rem;
  height: 1.75rem;
}

.title-text {
  text-align: center;
  border: none;
  font-size: 2.25rem !important;
  font-weight: bold;
}
