
input:focus, textarea:focus {
  outline: none !important;
  box-shadow: none !important;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s;
}

.show-complete {
  background: rgb(18, 194, 18) !important;
  color: rgb(18, 194, 18) !important;
}

.non-resizable {
  resize: none;
}

.large-checkbox {
  width: 1.75rem;
  height: 1.75rem;
}

.title-text {
  text-align: center;
  border: none;
}

.btn-warning:hover {
  background-color: #e9ecef !important;
}